@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300");

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: url("./assets/logo.png");
}

canvas {
    display: block;
}